<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo corte</title>
    <link rel="stylesheet" href="./nuevoCorte.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../imagenes/NombreDeLogo.png" alt="">
        </div>
        <div class="singUp">
            <div class="usuario"></div>
            <div class="cerrarSecion">
                <button class="perfil"><h4 class="nameUsurLogin"></h4><img src="../imagenes/icons8-user-35.png" alt=""></button>
                <div class="contenedorDeMenu">
                    <button class="cambiaUsuario">Cambiar de Usuario</button>
                    <button class="cerrarSecionBtn">Cerrar Sesion</button>
                </div>
            </div>
        </div>
    </header> 
    <section class="body">
        <div class="menu">
            <a href="../index.html" id="principal">Inicio</a>
            <a href="../view/nuevoCorte.html" id="nuevoCorte">Nuevo Corte</a>
            <a href="../view/precios.html" id="precios">Precios</a>
            <a href="productos" id="productos">Productos</a>
            <a href="reservas" id="reservas">Reservas</a>
            <a href="../view/resumenVenta.html" id="resumen">Resumen</a>
        </div>
        <div class="cuerpo">
            <div class="generalCards">
                <div class="card" id="card_1" data-id="1">
                    <h3>Clasicos</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_2" data-id="2">
                    <h3>Degradados</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_3" data-id="3">
                    <h3>Barba</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_4" data-id="4">
                    <h3>Corte Niños</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_5" data-id="5">
                    <h3>Clasico + barba</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_6" data-id="6">
                    <h3>Degradado + Barba</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_7" data-id="7">
                    <h3>Trenzas</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_8" data-id="8">
                    <h3>Tinte y Teñido</h3>
                    <h4>Agregar servicio</h4>
                </div>
                <div class="card" id="card_9" data-id="9">
                    <h3>Diseños y dibujos</h3>
                    <h4>Agregar servicio</h4>
                </div>
            </div>
        </div>
    </section>
</body>
<section class="comanda">
    <div class="contenedorComandas">
        <div class="closepContainer"><h1>X</h1></div>
        <div class="bodyContainer">
            <div class="resumenVenta">
                <div class="comandaDeServico">
                    <h2>Comanda del servicio</h2>
                </div>
                <div class="resumenDeServicio">
                <div class="caracteristicasServicio">
                    <h4> Tipo de servicio: <span id="servicio" class="closepBtn"></span></h4>
                    <h4> Precio: <span id="precio" class="closepBtn"></span> Soles</h4>
                    <h4> Descripcion: <span id="descripcion" class="closepBtn"></span></h4>
                    <h4> Incluye: <span id="incluye" class="closepBtn"></span></h4>
                </div>
                <div class="formularioServicio">
                    <form action="post" name="formServicio" id="formServicios">
                        <label for="cliente">Nombre del cliente</label>
                        <input type="text" name="cliente" id="nombreCliente" required>
                        <label for="barbero">Nombre del barbero</label>
                        <input type="text" name="barbero" id="nombreBarber" required>
                        <label for="pago">Tipo de pago</label>
                        <select name="pago" id="TipoPago" required>
                            <option value="">--Selecciona metodo de pago--</option>
                            <option value="efectivo">Efectivo</option>
                            <option value="yape">Yape</option>
                            <option value="plin">Plin</option>
                            <option value="pos">P.O.S</option>
                            <option value="transferencia">Transferencia</option>
                        </select>
                    </form>
                </div>
                </div>
            </div>
            <div class="enviarAResumen">
                <button type="button" class="btnEviar">Crear Servicio</button>
            </div>
        </div>
    </div>
</section>
<script src="../verificarSesion.js"></script>
<script src="../view/nuevoCorte.js"></script>
<script src="../index.js"></script>
</html>